* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 45.5%;
}
p,
label,
button,
input,
select {
  font-size: 1.6rem;
}
button {
  outline: none;
  cursor: pointer;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
