header {
  height: 17vh;
  background: transparent;
  @include grid(1fr, 1fr 0.75fr);
  color: $cultured;
}
nav {
  @include grid(repeat(5, 1fr), 1fr);
  gap: 1rem;
  width: 95%;
  height: 100%;
  margin: auto;
}
body {
  height: 100vh;
  position: relative;
  @include grid(1fr, 0.3fr 1.5fr);
  background: url("../load/img/restaurant-landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main {
  height: auto;
  width: 95%;
  margin: auto;
  margin-top: 3rem;
  position: relative;
  @include grid(repeat(3, 0.5fr), repeat(2, 1fr));
  gap: 3rem 1rem;
  justify-items: center;
  align-items: center;
}
.logo-wrapper {
  @include flex(center, center, row);
}
.button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.24);
  color: $cultured;
  border: 1px solid $cultured;
  border-radius: 0.5rem;
  transition: all 200ms linear;
}
.button:hover {
  transform: scale(1.03);
}
.menu-item {
  color: $cultured;
  @include grid(1fr, 1fr repeat(2, 0.4fr) 0.1fr);
  background: rgb(0, 0, 6);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 6, 1) 0%,
    rgba(0, 0, 0, 0.648071014747191) 100%
  );
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  .img-wrapper {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0.5rem 0.5rem;
  }
  h2 {
    margin-block: 1rem;
    text-align: left;
  }
  .p-wrapper,
  .h2-wrapper {
    width: 95%;
    margin: auto;
  }
  p {
    font-size: 1rem;
  }
  .span-wrapper {
    @include flex(flex-end, center, row);
  }
  span {
    letter-spacing: 0.15rem;
    margin-right: 0.5rem;
  }
}
