$cultured: #eeedf0;
$ita-green: #029b4e;
$ita-white: #f4f5f0;
$ita-red: #cd212a;

@mixin flex($justify, $align, $dir) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
}
@mixin grid($col, $row) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
}
